{% extends '@backend/base.html.twig' %}

{% block header %}Dashboard{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="card mb-5 mb-xl-10">
    Dashboard
</div>
{% endblock %}
