<div class="mx-auto w-75 d-flex justify-content-center flex-column">
  <div class="d-flex flex-row-fluid flex-center flex-column text-center mb-5">
    <div class="mx-auto">
      <img src="{{ absolute_url(asset('build/images/backend/logo-wowcx-dark.png')) }}" alt="{{ settings.prop.siteSlogan }}" class="img-fluid" width="250" height="121">
    </div>
  </div>
</div>