<div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1 mb-5">
  <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 mb-5 mb-lg-0">
      <h1 class="page-heading d-flex text-dark fw-bold fs-5 my-0">
          <span class="me-3">{{ settings.prop.siteShortName }} :: {{ app.user.fullname }}</span> <span class="badge fw-normal text-bg-secondary">{{ app.user.roles|first|trans }}</span>
      </h1>

      <ul class="breadcrumb my-0 pt-1">

        </ul>
  </div>
</div>