<header id="main-nav" data-bs-theme="dark">
  <nav class="navbar bg-secondary navbar-expand-lg pb-3 pt-4">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex justify-content-between w-100">
        <a class="navbar-brand" href="{{ absolute_url(path('app_home')) }}">
          <img src="{{ absolute_url(asset('build/images/frontend/logo-wowcx.png')) }}" alt="{{ settings.prop.siteSlogan }}" width="128" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">

      </div>
    </div>
  </nav>
</header>